# ============================================
# VMOS Cloud Credentials
# ============================================
VMOS_API_KEY=                     #type the access key id here
VMOS_API_SECRET=                  #type the scret access key here
VMOS_BASE_URL=https://api.vmoscloud.com

# ============================================
# Appium Configuration
# ============================================
APPIUM_HOST=127.0.0.1
APPIUM_PORT=4723

# ============================================
# Match.com App
# ============================================
MATCH_APP_PACKAGE=com.match.android.matchmobile

# ============================================
# SMS Activation Service
# ============================================
SMS_PROVIDER=getatext
SMS_API_KEY=63c95e9923b80013666ee6316d4
SMS_SERVICE=match
SMS_COUNTRY=us

# ============================================
# VMOS Dashboard
# ============================================
VMOS_DASHBOARD_EMAIL=                         #Enter your VMOS email here
VMOS_DASHBOARD_PASSWORD=                      #Enter your VMOS password here

# ============================================
# Proxy
# ============================================
PROXY_FILE=config/proxies.txt
PROXY_ROTATION=round_robin
PROFILE_FILE=config/profiles.csv
